@import url('https://fonts.googleapis.com/css2?family=Scheherazade&display=swap');

@font-face {
    font-family: 'Scheherazade-Regular';
    src:    url("../masyi/assets/fonts/Scheherazade-Regular.woff") format("woff"),
            url("../masyi/assets/fonts/Scheherazade-Regular.woff2") format("woff2"),
            url("../masyi/assets/fonts/Scheherazade-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: whitesmoke;
    overflow-x: hidden;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
  
main {
    margin-top: 20px
}

a {
    color: dodgerblue;
    text-decoration: none;
}

button {
    margin-top: 20px;
    border-style: none;
    border-radius: 20px;
    background-color: dodgerblue;
    box-shadow: 0px 5px 5px 3px #ccc;
}

/* button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
} */

.app {
    text-align: center;
}

.app-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    /* border-bottom: dodgerblue 5px solid; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

#home-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-elements {
    padding: 20px;
}

.coming-soon {
    background-color: lightgray;
}

.container {
    margin: 1rem;
}

.socmed {
    min-width: 10vw;
    height: 10vh;
    font-size: 30px;
    margin: auto 1rem;
}

#session-questions {
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    bottom: 2vh;
    width: 100vw;
}

.win-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.win-buttons {
    padding: 1rem;
    /* margin: 1rem 0; */
}

#ayat {
    font-size: 40px;
    font-family: 'Scheherazade-Regular', 'Scheherazade', serif;
}

.answer-btns {
    margin-top: 50px;

    /* grid settings */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;
}

.answer {
    width: 30vw;
    height: 10vh;
    font-size: 40px;
    font-family: 'Scheherazade-Regular', 'Scheherazade', serif;
}

.surahs {
    width: 30vw;
    height: 10vh;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px 3px #ccc;
}

@media screen and (max-width: 1000px) {
    .socmed {
        min-width: 20vw;
    }

    #session-questions {
        margin: 0;
        padding: 0;
        width: 99vw;
        position: relative;
        left: 0;
        bottom: 1vh;
    }
}